/*
basic colors of the icons
*/

.icon .fill {
    fill: var(--icon-light);
}

.icon .inner-line {
    fill: var(--icon-dark);
}

.icon .outer-line {
    stroke: transparent;
}

#bookmark-saved .fill {
    fill: var(--icon-dark);
}

/*
navbar icon of the current page
*/

.current .icon .fill {
    fill: var(--icon-dark);
}

.current .icon .inner-line {
    fill: var(--icon-light);
}
  
.current .icon .outer-line {
    stroke: transparent;
}