/*
Profile info
*/

.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info__head {
  display: flex;
  align-items: center;
}

.info__head__avatar {
  border: 3px var(--icon-dark) solid;
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--white);
}

.info__head__avatar svg {
  width: 100%;
  height: 100%;
}

.info__head h2 {
  width: 100%;
  text-align: center;
}

.info__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info__counter {
  display: flex;
  gap: 20px;
}

.info__counter div {
  display: flex;
  border-radius: 3px;
  padding: 6px 0;
  background-color: var(--white);
}

.info__counter div svg {
  height: 30px;
}

.info__counter div p {
  padding: 3px 12px 0px 8px;
  font-size: var(--text-small);
  font-weight: 600;
}

/*
Settings
*/

.settings {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.settings__dark-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.settings__dark-mode div {
  height: 50px;
  width: 50px;
}
